<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geotdb.compile">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--Dangerous Permissions-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--访问存储设备 -->
    <uses-permission android:name="android.permission.CAMERA" /><!--调用相机-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 调用硬件相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SET_TIME_ZONE"></uses-permission>


    <application
        android:name=".activity.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c50cd87d2cb558470d1bf206786621ac" />

        <!--bj  d237a14476d3df9b9f1c4feadd7ecc54-->
        <!--pc  c50cd87d2cb558470d1bf206786621ac-->
        <!--pc_02  951f8aed7a0c202fab8a7ec6c0536b85-->


        <activity
            android:name=".activity.LoadingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.HoleListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HoleEditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.ProjectEditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.RecordListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RecordEditActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.PreviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".view.camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".view.video.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="mabeijianxi.camera.MediaRecorderActivity" />
        <!--离线地图 -->
        <activity
            android:name=".offlinemap.OfflineMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <!--字典库管理 -->
        <activity
            android:name=".activity.DictionaryActvity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">


        </activity>

        <service android:name=".service.UpdataService"></service>
        <service android:name=".service.DownloadService"></service>
        <service android:name="com.amap.api.location.APSService"></service>
        <service android:name=".service.UploadService"></service>
        <service android:name=".service.NewUploadService"></service>

        <activity
            android:name=".activity.ReleteLocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.RouteNaviActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.HelpActivtiy"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
